<div class="footer bg-body-light border-top mt-4">
  <div class="list">
    <p>© 2025 Airbnb, inc</p>
    <ul class="footer-links">
      <li>·<a href=""> Terms</a></li>
      <li>· <a href="">Sitemap</a></li>
      <li>· <a href="">Privacy</a></li>
      <li>·  <a href="">Your Privacy and choice</a></li>
    </ul>
  </div>
    <div class="social">
        <p><i class="fa-solid fa-globe"></i> English(US)</p>
        <p>$ USD</p>
        <p><i class="fa-brands fa-facebook"></i></p>
        <p><i class="fa-brands fa-twitter"></i></p>
        <p><i class="fa-brands fa-instagram"></i></p>
</div>
